# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# MkDocs
site/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Local env
.env
.env.*
!.env.example
